*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.nav{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 60px;
    width: 100px;
}

.logo{
    background-image: url("/amazon_logo.png");
    background-size: cover;
    width: 100%;
    height: 50px;
}

.border{
    padding: 5px;
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
    border-radius: 5px;
}

.add-1{
    color:whitesmoke;
    font-size: 0.7rem;
    margin-left: 15px;    
}

.add-2{
    font-size: 1rem;
    margin-left: 3px;
}

.add-logo{
    display: flex;
    align-items: center;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;


}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: orange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.language-container p{
   font-size: 0.8rem;
   margin: 0;
}

.language-image{
    width: 25px;
}

.language-image img{
    width: 100%;
}

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i{
    font-size: 32px;
}

.nav-cart{
    font-size: 0.8rem;
    font-weight: 700;
}

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-opt p{
    display: inline;
    margin-left: 17px;
}

.panel-opt{
    width: 70%;
    font-size: 1 rem;
}

.panel-deals{
    font-size: 1.2rem;
}

.image-container{
    position: relative;
}

.image-list{
    display: flex;
}

.image-item{
    min-width: 100%;
    height: 600px;
    /* transform: translateX(-400%); */
    transition: transform 0.3s;
}

.image-item img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.image-btn{
    position: absolute;
    top: 11px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn1{
    border: 2px solid transparent;
    padding: 100px 10px;
    font-size: 30px;
    font-weight: 300;
    background-color: transparent;
    color: black;
}

.btn1:focus{
    border-color: #0f1111;
    box-shadow: -2px -2px 2px white, 1px 1px 1px white;

}

.para{
    height: 40px;
    width: 960px;
    
}

.main{
    position: relative;
    top: -340px;
}
.product-container{
    display: flex;
    
}
.gaming{
    display: flex;
    margin: 20px;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    box-shadow: -50px -50px 40px rgba(255,255,255,0.5),
    50px 50px 40px rgba(255,255,255,0.5);
}

.gaming-product{
    display: flex;
    padding: 10px;
    max-width: 300px;
    flex-wrap: wrap;
    justify-content: space-around;

}

.gaming h2{
    padding-left: 20px;
    margin:2px;
    font-size: 20px;
}

.card-nested img{
    width: 120px;
    height: 116px;
    object-fit: cover;
}

.see a{
    padding-left: 20px;
    text-decoration: none;
}

.today-deals-containor{
    margin: 50px;
    box-shadow: -2px -2px 5px rgba(0,0,0,0.1),
    2px 2px 5px rgba(0,0,0,0.1);
}

.today-deals-heading{
    display: flex;
    align-items: center;
    padding: 2px 20px;
}

.today-deals-heading p a{
    color: rgb(39,114,107);
    text-decoration: none;
    padding-left: 20px;
}

.today-deals-heading p a:hover{
    text-decoration: underline;
}
.today-deals-product-container{
    /* background-color: red; */
    height: 250px;
    position: relative;
}

.todaydealsproduct-list{
    display: flex;
    overflow: hidden;
}

.today-deals-product-item{
    min-width: 220px;
    height: 220px;
    padding: 0px 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    transform: translateX(0%);
    transition: transform 1s;
}

.todayDeals_product_image{
    height: 150px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 15px;
}

.today-deals-product-item img{
    width: 100%;
    height: 80%;
    background-color: red;
}

.today-deals-product-item p{
    justify-self: flex-end;
}

.discout-container{
    /* border: 2px solid red; */
}

.discout-container a{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
    color: red;
    text-decoration: none;
}
.discout-container a:first-child{
    background-color: red;
    padding: 5px 10px;
    color: white;
    font-weight: 900px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 12px;
}

.today-btn{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;
    z-index: 10;
}

.today-btn1{
    padding: 40px 10px;
    font-size: 40px;
    border: none;
    outline: none;
    background-color: rgb(255,255,255,0.4);
}

.footwear p{
    margin-top: 10px;
}

.footpanel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 10px;
}
footer{
    top: 0;
}
.footpanel1:hover{
    background-color: #39424e;
}

.footpanel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul a{
    display: block;
    text-decoration: none;
    color: #dddddd;
    margin-top: 10px;
    font-size: 0.85rem;
}

ul{
    margin-top: 20px;
}

.footpanel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footpanel3 img{
    height: 50px;
    width: 100px;
}

.footpanel3 button{
    justify-content: space-between;
    margin-right: 10px;
    background-color: transparent;
    color: white;
}

.footpanel4-box1{
    background-color: #0f1111;
    color: white;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    
}
.box11 ul a{
    margin: 0rem;

}

.footpanel5{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.pages{
    padding-top: 25px;
}

.pages a{
    color: white;
    font-size: 0.7rem;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
}

.copy-right{
    padding-top: 5px;
}